---
- name: Add Nginx PPA
  apt_repository: repo="ppa:nginx/stable" update_cache=yes

- name: Install Nginx
  apt: name=nginx state=present force=yes

- name: Create SSL directory
  file: dest=/etc/nginx/ssl state=directory

- name: Generate strong unique Diffie-Hellman group.
  command: openssl dhparam -out dhparams.pem 2048
  args:
    chdir: /etc/nginx/ssl/
    creates: /etc/nginx/ssl/dhparams.pem
  notify: reload nginx

- name: Grab h5bp/server-configs-nginx
  git: repo="https://github.com/h5bp/server-configs-nginx.git"
       dest=/etc/nginx/h5bp-server-configs
       version=94b3680c9d13f108d6d62c22cba251b84f795aa8
       force=yes

- name: Move h5bp configs
  command: creates=/etc/nginx/h5bp/ cp -R /etc/nginx/h5bp-server-configs/h5bp /etc/nginx/h5bp

- name: Copy conf files
  copy: src="{{ item }}" dest=/etc/nginx/{{ item | basename }} mode=644
  with_fileglob: '*'

- name: Create nginx.conf
  template: src=nginx.conf.j2 dest=/etc/nginx/nginx.conf
  notify: reload nginx

- name: Disable default server
  file: path=/etc/nginx/sites-enabled/default state=absent
  notify: reload nginx

- name: Enable better default site to drop unknown requests
  command: creates=/etc/nginx/sites-enabled/no-default.conf cp /etc/nginx/h5bp-server-configs/sites-available/no-default /etc/nginx/sites-enabled/no-default.conf
  notify: reload nginx

- name: Create base WordPress config
  template: src=wordpress.conf.j2 dest=/etc/nginx/wordpress.conf

- name: Create base WordPress subdirectory Multisite config
  template: src=wordpress_multisite_subdirectories.conf.j2 dest=/etc/nginx/wordpress_multisite_subdirectories.conf
