---
- name: Add Nginx APT key
  ansible.builtin.apt_key:
    url: "https://nginx.org/keys/nginx_signing.key"
    state: present

- name: Add Nginx PPA
  apt_repository:
    repo: "{{ nginx_ppa }}"
    update_cache: yes
  register: result
  until: result is success
  retries: 3
  delay: 5

- name: Install Nginx
  ansible.builtin.apt:
    name: "{{ nginx_package }}"
    state: "{{ nginx_package_state | default(apt_package_state) }}"
    update_cache: true

- name: Install Nginx Acme module
  ansible.builtin.apt:
    name: nginx-module-acme
    state: "{{ nginx_package_state | default(apt_package_state) }}"

- name: Ensure modules-enabled directory exists
  file:
    path: "{{ nginx_path }}/modules-enabled"
    state: directory
    mode: '0755'

- name: Enable Nginx Acme module
  copy:
    content: "load_module modules/ngx_http_acme_module.so;\n"
    dest: "{{ nginx_path }}/modules-enabled/50-mod-http-acme.conf"
    mode: '0644'
  notify: reload nginx

- name: Ensure site directories exist
  file:
    path: "{{ nginx_path }}/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - sites-available
    - sites-enabled

- name: Create SSL directory
  file:
    mode: '0700'
    path: "{{ nginx_path }}/ssl"
    state: directory

- name: Create ACME state directory
  file:
    path: "{{ nginx_acme_state_path }}"
    state: directory
    owner: "{{ nginx_user.split()[0] }}"
    mode: '0700'
  when: sites_using_letsencrypt | length > 0

- name: Copy h5bp configs
  copy:
    src: templates/h5bp
    dest: "{{ nginx_path }}"
    mode: '0755'
  notify: reload nginx

- name: Create nginx.conf
  template:
    src: "{{ nginx_conf }}"
    dest: "{{ nginx_path }}/nginx.conf"
    mode: '0644'
  notify: reload nginx
  tags: nginx-includes

- name: Disable default server
  file:
    path: "{{ nginx_path }}/sites-enabled/default"
    state: absent
  notify: reload nginx

- name: Enable Nginx to start on boot
  service:
    name: nginx
    enabled: yes
    state: started
    use: service
