# {{ ansible_managed }}

# documentation root goes to zendesk article
location = /docs/ {
  return 301 /help/;
}

# fix the docs to the Dining Restaurant theme
location = /docs/dining-restaurant/ {
  return 301 /docs/restaurant/;
}

# fix the pagination in the help center
location ~ "^/help/\d{1,2}/" {
  return 301 /help/;
}
