# {{ ansible_managed }}

# redirects from old HTML demos to new subdomains
location /themes/hairpress/ {
  return 301 https://html-demo.proteusthemes.com/hairpress/;
}

location /themes/webmarket-html/ {
  return 301 https://html-demo.proteusthemes.com/webmarket/;
}

location /themes/organique-html/ {
  return 301 https://html-demo.proteusthemes.com/organique/;
}

location /themes/readable-html/ {
  return 301 https://html-demo.proteusthemes.com/readable/;
}
