# {{ ansible_managed }}

# static HTML sites
location = /index.html {
  return 301 /;
}

location = /themes.html {
  return 301 /wordpress-themes/;
}

location = /freebies.html {
  return 301 /wordpress-themes/;
}

location = /contact.html {
  return 301 /contact/;
}

location = /the-team.html {
  return 301 /our-team/;
}

location = /pricelist.html {
  return 301 /services/;
}

location = /jobs.html {
  return 301 /jobs/;
}

location = /pt-pricelist.pdf {
  return 301 /services/;
}

location = /mp/ {
  return 301 /medicpress-landing-page-sandbox/;
}

location = /pricing-2 {
  return 301 /pricing/;
}

location = /pricing-2/ {
  return 301 /pricing/;
}

# blog permalinks (remove date and month)
location ~ "^/blog/\d{4}/\d{2}/([a-z0-9-]+)/$" {
  return 301 /blog/$1;
}

# strip `-pt` from the end of the docs URLs
location ~ "^/docs/(\w+)-pt/?$" {
  return 301 /docs/$1/;
}

# Yoast SEO Sitemaps
location ~ ([^/]*)sitemap(.*).x(m|s)l$ {
  ## this redirects sitemap.xml to /sitemap_index.xml
    rewrite ^/sitemap.xml$ /sitemap_index.xml permanent;
  ## this makes the XML sitemaps work
    rewrite ^/([a-z]+)?-?sitemap.xsl$ /index.php?xsl=$1 last;
    rewrite ^/sitemap_index.xml$ /index.php?sitemap=1 last;
    rewrite ^/([^/]+?)-sitemap([0-9]+)?.xml$ /index.php?sitemap=$1&sitemap_n=$2 last;
}

# Restrict access to FS log
location = /wp-content/uploads/fastspring/log.txt {
  deny all;
}

# Restrict access to Custom Dashboard log
location /wp-content/uploads/customer-dashboard/ {
  deny all;
}
