# {{ ansible_managed }}

# changed username from `proteusnet` to `primozcigler`
location /blog/author/proteusnet {
  return 301 /blog/author/primozcigler/;
}

# redirect root author to the main author
location = /blog/author/ {
  return 301 /blog/author/primozcigler/;
}

# redirect everything from /themes/ subdirectory to the root
location /themes/ {
  return 301 /;
}

# more specific rule of the above for the links that end with .html
location ~ ^/themes/.*\.html?$ {
  return 301 /;
}

# privacy policy, hosted on iubenda.com
location = /privacy-policy/ {
  return 301 https://www.iubenda.com/privacy-policy/7949647;
}

# sitemap index
location = /sitemap-index.xml {
  return 301 /sitemap_index.xml;
}

location = /sitemap-index.xml.gz {
  return 301 /sitemap_index.xml;
}

location = /sitemap {
  return 301 /sitemap_index.xml;
}

location = /sitemap.xml.gz {
  return 301 /sitemap_index.xml;
}

# wordpress
location = /wordpress {
  return 301 /;
}
