# {{ ansible_managed }}

location = /themes/ {
  if ($arg_theme = 'webmarket-wp') {
    return 301 https://demo.proteusthemes.com/webmarket/;
  }

  if ($arg_theme = 'auto-wp') {
    return 301 https://demo.proteusthemes.com/auto/;
  }
}
