# {{ ansible_managed }}

location = /themes/ {
  if ($arg_theme = 'webmarket-wp') {
    return 301 https://demo.proteusthemes.com/webmarket/;
  }

  if ($arg_theme = 'auto-wp') {
    return 301 https://demo.proteusthemes.com/auto/;
  }

  if ($arg_theme = 'hairpress-wp') {
    return 301 https://demo.proteusthemes.com/hairpress/;
  }

  if ($arg_theme = 'carpress-wp') {
    return 301 https://demo.proteusthemes.com/carpress/;
  }

  if ($arg_theme = 'organique-wp') {
    return 301 https://demo.proteusthemes.com/organique/;
  }
}
