# {{ ansible_managed }}

satisfy any;

allow 194.249.198.130; # TPLJ
allow 54.174.196.58; # FS1
allow 107.23.30.83; # FS2

auth_basic "ProteusNet restricted area.";
auth_basic_user_file includes.d/htpasswd;
