# {{ ansible_managed }}

location /themes.html {
  return 301 /wordpress-themes/;
}

location /freebies.html {
  return 301 /wordpress-themes/;
}

location /contact.html {
  return 301 /contact/;
}

location /the-team.html {
  return 301 /our-team/;
}

location /pricelist.html {
  return 301 /pricelist/;
}
