# {{ ansible_managed }}

# static HTML sites

location /themes.html {
  return 301 /wordpress-themes/;
}

location /freebies.html {
  return 301 /wordpress-themes/;
}

location /contact.html {
  return 301 /contact/;
}

location /the-team.html {
  return 301 /our-team/;
}

location /pricelist.html {
  return 301 /pricelist/;
}

location ^~ /payment-form.php {
  return 301 https://apps.proteusthemes.com/customization-form/$is_args$args;
}

# blog permalinks (remove date and month)

location ~ "^/blog/\d{4}/\d{2}/([a-z0-9-]+)/$" {
  return 301 /blog/$1;
}
