# {{ ansible_managed }}
# manual customization of this file is not recommended

                                                   -----------  NEW  --------------      ----------  PRIOR  -------------
  DATE       TIME      USER       EVENT    STATUS    RELEASE        SHA     VERSION        RELEASE        SHA     VERSION
----------  --------  ----------  ------   ------  --------------  -------  -------      --------------  -------  -------
