; {{ ansible_managed }}

[wordpress]
listen = /var/run/php-fpm-wordpress.sock
listen.owner = www-data
listen.group = www-data
user = {{ web_user }}
group = {{ web_group }}
pm = dynamic
pm.max_children = 10
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 500
chdir = {{ www_root }}/
php_flag[log_errors] = on
php_flag[display_errors] = {{ php_display_errors }}
php_admin_value[open_basedir] = {{ www_root }}/:/tmp
{% if memcached_sessions %}
php_value[session.save_handler] = memcached
php_value[session.save_path] = "{{ memcached_listen_ip }}:{{ memcached_port }}"
{% endif %}
