[wordpress]
listen = /var/run/php5-fpm-wordpress.sock
listen.owner = www-data
listen.group = www-data
user = www-data
group = www-data
pm = dynamic
pm.max_children = 10
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 500
chdir = {{ www_root }}/
php_admin_value[open_basedir] = {{ www_root }}/:/tmp
{% if memcached_sessions %}
session.save_handler = memcached
session.save_path = "tcp://{{ memcached_listen_ip }}:{{ memcached_port }}"
{% endif %}
