# {{ ansible_managed }}

location ~ ^/[_0-9a-zA-Z-]+/wp-content/uploads/(.*)$ {
  try_files /wp-content/uploads/$2 /wp-includes/ms-files.php?file=$2 ;
  access_log off;
  log_not_found off;
  expires max;
}

if (!-e $request_filename) {
  rewrite /wp-admin$ $scheme://$host$uri/ permanent;
  rewrite ^/[_0-9a-zA-Z-]+(/wp-.*) $1 last;
  rewrite ^/[_0-9a-zA-Z-]+(/.*\.php)$ $1 last;
}
