---
- name: Fetch DB files
  fetch:
    src:  /opt/backup/mysql/demo_network-20151126.sql.gz
    dest: /tmp/as1_db_file.sql.gz
    flat: yes

- name: Rsync WP (without uploads)
  synchronize:
    src:  "{{ www_root }}/{{ src_domain }}/"
    dest: "{{ www_root }}/{{ item.key }}/"
    mode: pull
    group: no
    owner: no
    rsync_opts: # TODO to var
      - "--delete"
      - "--exclude='.git/'"
      - "--exclude='wp-config.php'"
      - "--exclude='wp-cli.yml'"
      - "--exclude='/google*.html'"
      - "--exclude='/.htaccess'"
      - "--exclude='/wc-logs/'"
      - "--exclude='/wp-content/advanced-cache.php'"
      - "--exclude='/wp-content/uploads/'"
      - "--exclude='/wp-content/cache/'"
  with_dict: wordpress_sites

- name: Rsync WP uploads
  synchronize:
    src:  "{{ www_root }}/{{ src_domain }}/wp-content/uploads/"
    dest: "{{ www_root }}/{{ item.key }}/wp-content/uploads/"
    mode: pull
    group: no
    owner: no
    rsync_opts: # TODO to var
      - "--delete"
      - "--ignore-existing"
      - "--exclude='.*'"
      - "--exclude='Makefile'"
  with_dict: wordpress_sites
