# {{ ansible_managed }}

location ~* "/wp-content/uploads/sites/1[689]/.+\.(jpg|png)" {
  try_files $uri /wp-content/uploads/2017/01/buildpress-notice.$1;
}

location ~* "/wp-content/(themes|uploads)/.+\.webp$" {
  try_files $uri /wp-content/uploads/2017/01/proteusthemes-promo.webp;
}
