# {{ ansible_managed }}

location = /themes/ {
  if ($arg_theme = 'hairpress-wp') {
    return 301 https://demo.proteusthemes.com/hairpress/;
  }

  if ($arg_theme = 'webmarket-wp') {
    return 301 https://demo.proteusthemes.com/webmarket/;
  }

  if ($arg_theme = 'carpress-wp') {
    return 301 https://demo.proteusthemes.com/carpress/;
  }

  if ($arg_theme = 'organique-wp') {
    return 301 https://demo.proteusthemes.com/organique/;
  }

  if ($arg_theme = 'readable-wp') {
    return 301 https://demo.proteusthemes.com/readable/;
  }

  if ($arg_theme = 'restaurant-wp') {
    return 301 https://demo.proteusthemes.com/restaurant/;
  }

  if ($arg_theme = 'buildpress-wp') {
    return 301 https://demo.proteusthemes.com/buildpress-landing-page/;
  }

  if ($arg_theme = 'mentalpress-wp') {
    return 301 https://demo.proteusthemes.com/mentalpress/;
  }

  if ($arg_theme = 'cargopress-wp') {
    return 301 https://demo.proteusthemes.com/cargopress/;
  }

  if ($arg_theme = 'legalpress-wp') {
    return 301 https://demo.proteusthemes.com/legalpress/;
  }

  if ($arg_theme = 'repairpress-wp') {
    return 301 https://demo.proteusthemes.com/repairpress/;
  }

  if ($arg_theme = 'structurepress-wp') {
    return 301 https://demo.proteusthemes.com/structurepress/;
  }

  if ($arg_theme = 'beauty-wp') {
    return 301 https://demo.proteusthemes.com/beauty/;
  }

  if ($arg_theme = 'auto-wp') {
    return 301 https://demo.proteusthemes.com/auto/;
  }

  if ($arg_theme = 'bolts-wp') {
    return 301 https://demo.proteusthemes.com/bolts-landing-page/;
  }

  if ($arg_theme = 'shaka-wp') {
    return 301 https://demo.proteusthemes.com/shaka/;
  }
}
