#!/bin/bash
#
# {{ ansible_managed }}

host=127.0.0.1

mysqldump_command="/usr/bin/mysqldump -qfeR "
mysql_command=/usr/bin/mysql

today=$(date "+%Y%m%d")

# Get a list of all databases
databases=$(echo "SHOW DATABASES" | $mysql_command -h $host | grep -v "Database" | grep -v "information_schema" | grep -v "performance_schema")

for db in $databases; do
  date=`date`
  file="{{ mariadb_backup_dir }}/$db-$today.sql.gz"
  echo "Backing up '$db' from '$host' on '$date' to: "
  echo "  $file"
  $mysqldump_command -h $host $db | gzip > $file
done

find {{ mariadb_backup_dir }}/* -mtime +{{ mariadb_backup_days_retention }} -exec rm {} \;
