Ensure that your site's `repo` variable is defined in `group_vars/{{ env }}/wordpress_sites.yml` and uses the SSH format. Example:

  repo: git@github.com:example/example.com.git

More info: https://roots.io/trellis/docs/deploys/
