# {{ ansible_managed }}

auth_basic "Proteusnet restricted area.";
auth_basic_user_file includes.d/htpasswd;

location /billing {
  try_files $uri $uri/ /billing/index.php?$args;
}

location /jaka {
  try_files $uri $uri/ /jaka/index.php?$args;
}
