# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name artifacts.proteusthemes.com;

  access_log /srv/www/logs/artifacts.proteusthemes.com/access.log;
  error_log /srv/www/logs/artifacts.proteusthemes.com/error.log;

  root /srv/www/artifacts.proteusthemes.com;
  index index.html;
  add_header Fastcgi-Cache $upstream_cache_status;

  # Specify a charset
  charset utf-8;

  # xmls and json files downloadable
  location ~* \.(xml|json) {
    types {
      application/octet-stream .json;
      application/octet-stream .xml;
    }
    default_type application/octet-stream;
  }

  include acme-challenge-location.conf;
  include includes.d/artifacts.proteusthemes.com/*.conf;

  include h5bp/directive-only/x-ua-compatible.conf;
  include h5bp/location/cross-domain-fonts.conf;
  include h5bp/location/expires.conf;
  include h5bp/location/protect-system-files.conf;
}
