# {{ ansible_managed }}

{% set _server = mail_smtp_server | default('') %}
{% set _colons = _server.count(':') %}
{% if _server.startswith('[') and ']:' in _server %}
{%   set _host = _server.split(']:')[0] ~ ']' %}
{%   set _port = _server.split(']:')[1] %}
{% elif _colons == 1 %}
{%   set _host = _server.rsplit(':', 1)[0] %}
{%   set _port = _server.rsplit(':', 1)[1] %}
{% else %}
{%   set _host = _server %}
{%   set _port = msmtp_port | string %}
{% endif %}

defaults
auth           {{ msmtp_auth }}
tls            {{ msmtp_tls }}
tls_starttls   {{ msmtp_tls_starttls }}
set_from_header {{ msmtp_set_from_header }}
domain         {{ msmtp_domain }}
syslog         on

account        default
host           {{ _host }}
port           {{ _port }}
from           {{ mail_admin }}
{% if msmtp_auth | lower != "off" %}
user           {{ mail_user }}
password       {{ mail_password }}
{% endif %}
{% for acct in msmtp_accounts %}

account        {{ acct.name }}
host           {{ acct.host }}
port           {{ acct.port | default(msmtp_port) }}
from           {{ acct.from }}
{% if acct.auth is defined %}
auth           {{ acct.auth }}
{% endif %}
{% if acct.tls is defined %}
tls            {{ acct.tls }}
{% endif %}
{% if acct.tls_starttls is defined %}
tls_starttls   {{ acct.tls_starttls }}
{% endif %}
{% if acct.domain is defined %}
domain         {{ acct.domain }}
{% endif %}
{% if (acct.auth | default(msmtp_auth)) | lower != "off" %}
user           {{ acct.user }}
password       {{ acct.password }}
{% endif %}
{% endfor %}
